# APPWRITE CONFIGURATIONS
VITE_APPWRITE_URL=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_TABLE_ID=
VITE_APPWRITE_BUCKET_ID=

# TINY MCE Editor -> Cloud API Key
VITE_TINY_MCE_API_KEY=